<app-jobsnav></app-jobsnav>
<div class="background">

  <div class="row">
    <div class="col-md-6">
      <h1 style="color:white; font-style: oblique; margin-left: 160px; margin-top: 30px;">Jobs List</h1>
      <!-- <hr style="color:white; stroke-width: 40px;"> -->
    </div>
  </div>
</div>

<!-- <h2 [ngStyle]="{'text-align':'center', 'margin-bottom':'20px'}">Job List</h2>  -->
<h3>{{errorMsg}}</h3>
<br>
<!-- <td><button (click)="createjob(job)">New Job</button></td>  -->
<div class="container text-right">
  <button class="btn btn-primary" [routerLink]="['/employers/jobs/createjob']">
    Post a job
  </button>
</div>
<br>
<div class="container">
  <table class="table table-hover">
    <thead style="background-color: rgb(16, 128, 113); color:white;">
      <tr>
        <th>Job Title</th>
        <th>Job Location</th>
        <th>Job Description</th>
        <th>Salary</th>
        <th>Company Name</th>
        <th>Job Type</th>
        <th>Posted Date</th>
        <th>Deadline</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>

      <!-- <div class="container">
        <div *ngFor= "let job of jobs;">
          <div class="row mb-2"> 
            
            <div class="col-md-4">
            <td (click)="onSelect(job)">{{ job._id}}</td> 
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary" (click)="onSelect(job)">{{ job.Company_Name }}</strong>
                   <div class='dropdown'>
                    <a class='dropbtn' style="color: cadetblue;">...</a>
                    <div class='dropdown-content'>
                    <a><span style="font-size:150%;color:black; border-color: black;">&#9825;</span>save</a>
                    <a>close</a>
                    </div>
                  </div>
                  <p class="card-text mb-auto" (click)="onSelect(job)">{{ job.Job_Title }}</p><br />
                  <p class="card-text mb-auto">{{ job.Job_Location }}</p><br />
                </div>
              </div>
            </div>
          </div>
            </div>   -->





      <!-- <div class="container" style="background-color:azure;">
              <div class="row">
                <div class="col-md-4 mx-auto my-5" *ngFor="let job of jobs">
                  <div class="card" style="box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); background-color:honeydew">
                    <div class="card-body">
                      <div class='dropdown' style="text-align: right;">
                        <a class='dropbtn' style="color: cadetblue; margin-left: 260px;">...</a>
                        <div class='dropdown-content' style="margin-left: 180px;">
                        <a><span style="font-size:150%;color:black; border-color: black;">&#9825;</span>save</a>
                        <a>close</a>
                        </div>
                      </div>
                      <div class="card-title">
                        <strong>{{job.Company_Name}}</strong>
                      </div>
                      <hr>
                      <p>
                        {{job.Job_Title}}
                      </p>
                      <p>
                        {{job.Job_Location}}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
       -->
      <tr *ngFor="let job of jobs | paginate: { id: 'Paginate_Jobs', 
            itemsPerPage: 5,
            currentPage:page,
            TotalItems:jobLength
      }" class="tbl-row">
        <td>{{job.Job_Title}}</td>
        <td>{{job.Job_Location}}</td>
        <td>{{job.Job_Description}}</td>
        <td>{{job.Salary}}</td>
        <td>{{job.Company_Name}}</td>
        <td>{{job.Job_Type}}</td>
        <td>{{job.Poste_Date | date:'medium'}}</td>
        <td>{{job.App_Deadeline | date:'medium'}}</td>
        <td>
          <button class="btn btn-secondary pencil" (click)="editjob(job)">
            <i class="fas fa-pencil-alt"></i>
          </button>
        </td>
        <td>
          <button class="btn btn-secondary trash" (click)="deletejob(job)">
            <i class="far fa-trash-alt"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="container text-center">
  <pagination-controls id="Paginate_Jobs" maxSize=5 directionLinks="true"
    (pageChange)="page= $event"></pagination-controls>
</div>