<app-navbar></app-navbar>
<!-- <flash-messages></flash-messages> -->
<section class="hero">
  <div class="image">
    <div class="text-center">
      <h1 class="mb-2 welcome">Welcome to
        <span class="home-title mt-5">glassdoor</span>
      </h1>
    </div>
    <div class="text-center home-button">
      <a *ngIf="!authService.loggedIn()" [routerLink]="['/register']"
        class="btn btn-success btn-lg mr-2 home-button">Register</a>
      <span> </span>
      <a *ngIf="!authService.loggedIn()" [routerLink]="['/login']"
        class="btn btn-success btn-lg ml-2 home-button">Log in</a>
      <a *ngIf="authService.loggedIn()" [routerLink]="['/review']"
        class="btn btn-success">View Reviews</a>
    </div>
  </div>
</section>

<section class="hero-2" [routerLink]="['/review']">
  <div class="image-2">
    <div class="row">
      <div class="col-md-12 text-center mission-statement">
        <h1 class="respond">
          See what members are saying
        </h1>
      </div>

    </div>
    <div class="row review-row">
      <div class="col-md-6 text-right mission-statement">
        <p class="respond-message">
          Responding to reviews is a way to show them who you
          are and what you stand for. It provides transparency
          and gives people confidence in your company.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="hero-4" [routerLink]="['/employers/jobs']">
  <div class="container image-container">
    <div class="image-4">
      <div class="row">
        <div class="col-md-6 text-right mission-statement">
          <h1 class="job">
            Informed candidates apply for your jobs
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 text-right mission-statement">
          <p class="job-statement">
            This saves you valuable time.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 text-right">
          <button class="btn btn-success btn-lg get-started">
            Get Started
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="hero-3" [routerLink]="['/employers/employer-branding']">
  <div class="container image-container">
    <div class="image-3">
      <div class="row">
        <div class="col-md-12 text-right mission-statement">
          <h1 class="emp-brand">
            What is employer branding?
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-right mission-statement">
          <p class="emp-statement">
            Employer Branding is the practice of defining, developing
            and managing your company’s reputation.
            A strong employer brand is essential to
            recruiting and retaining quality talent
            in today’s market and helps differentiate
            you from the competition. Learn the benefits
            of investing in employer branding, how
            it differs from your consumer brand, and
            see employer branding examples on glassdoor
            in our Employer Branding FAQs.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-right">
          <button class="btn btn-success btn-lg learn-more">
            Learn More
          </button>
        </div>
      </div>
    </div>
  </div>
</section>