<!-- <footer class="footer">
    <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
    </div>
</footer> -->
<div class="card shadow-lg bg-white rounded">
    <div class="card-body">
        <div class="card-title mb-3 text-center ">
            <h1 class="mt-5">glassdoor</h1>
        </div>
        <br>
        <hr>
        <div class="mainbox mt-5">
            <br>
            <h3 class="text-center">Our Mission</h3>
            <br>
            <div class="text-center">
                <p>To help people everywhere find a job
                    and company they love.</p>
            </div>
            <br>
            <br>
            <div class="text-center">
                <p>
                    <a class="btn btn-success" (click)="onBack()">Back</a>
                </p>
            </div>
        </div>
    </div>
</div>
<!--  "jsonwebtoken": {
      "version": "7.4.3",
      "resolved": "https://registry.npmjs.org/jsonwebtoken/-/jsonwebtoken-7.4.3.tgz",
      "integrity": "sha1-d/UCHeBYtgWheD+hKD6ZgS5kVjg=",
      "requires": {
        "joi": "^6.10.1",
        "jws": "^3.1.4",
        "lodash.once": "^4.0.0",
        "ms": "^2.0.0",
        "xtend": "^4.0.1" -->