<div class="card shadow-lg bg-white rounded">
    <div class="card-body">
        <div class="card-title mb-3 ">
            <h3 class="text-center">{{pageTitle}} </h3>
        </div>

        <div class="mainbox">
            <h3 class="text-center">Page Not Found</h3>
            <div class="err">4</div>
            <i class="far fa-question-circle fa-spin"></i>
            <div class="err2">4</div>
            <div class="msg">OOPS... Something went wrong.
                <p>Let's go
                    <a (click)="onBack()">back</a>
                </p>
            </div>
        </div>
    </div>
</div>