<!-- <nav class="navbar navbar-expand-md fixed-top">
    <a class="navbar-brand ml-lg-5" [routerLink]="['/']">glassdoor</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle ml-lg-5" id="dropdown01"
                    data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">Employer Center</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" [routerLinkActive]="['active']"
                        [routerLink]="['/login']">Sign in to Employer Center</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav mr-lg-5">
            <li class="nav-item" *ngIf="!authService.loggedIn()">
                <button class="btn btn-outline-success my-2 my-sm-0"
                    [routerLink]="['/login']" type="submit">Sign in</button>
            </li>
            <li class="nav-item" *ngIf="authService.loggedIn()">
                <button class="btn btn-outline-success my-2 my-sm-0"
                    (click)="onLogoutClick()" [routerLink]="['']"
                    type="submit">Log out</button>
            </li>

        </ul>
    </div>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand ml-4" (click)="onBack()">
        <h4>glassdoor</h4>
        <span>
            <small>for Employers</small>
        </span>
    </a>
    <button class="navbar-toggler justify-content-end"
        type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end"
        id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Employer Branding
                    <span class="sr-only">(current)</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Employer Brand</a>
                    <a class="dropdown-item" href="#">Jobs & Recruitment</a>
                    <a class="dropdown-item" href="#">Reviews</a>

                </div>
            </li>
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    What we do
                    <span class="sr-only">(current)</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" (click)="goCreate()">Create Employer Branding</a>
                    <a class="dropdown-item" href="#">Employer Detail</a>
                    <a class="dropdown-item" (click)="onLogoutClick()"
                        href="#">Logout</a>

                </div>
            </li>
            <!-- <li class="nav-item">
                            <a class="nav-link" href="#">Features</a>
                        </li> -->
            <!-- <li class="nav-item">
                            <a class="nav-link" href="#">Pricing</a>
                        </li> -->
        </ul>
        <div class=" ml-1 mr-2">
            <!-- <app-profile></app-profile> -->
        </div>
    </div>
</nav>