<app-navbar></app-navbar>
<h1 class="page-header ml-5">
  Edit Review</h1>

<!-- Custom Success/Erro Message -->
<div class="container">
  <div class="row show-hide-message" *ngIf="message">
    <div [ngClass]="messageClass">
      {{ message }}
    </div>
  </div>


  <form (submit)="updateReviewSubmit()" *ngIf="!loading">
    <!-- Title Field -->
    <div class="form-group">
      <label for="title">Title</label>
      <!-- Title Input -->
      <input [disabled]="processing" type="text" name="title"
        placeholder="*Review Title" class="form-control"
        [(ngModel)]="review.title" #title="ngModel" />
    </div>

    <!-- Body Field -->
    <div class="form-group">
      <label for="body">Body</label>
      <!-- Body Input -->
      <textarea [disabled]="processing" name="body" rows="8"
        cols="80" [(ngModel)]="review.body" #body="ngModel"
        class="form-control" placeholder="*Review Body"></textarea>
    </div>

    <!-- Delete Button -->
    <a [routerLink]="['/delete-review/', review._id]">
      <button [disabled]="processing" type="button" name="button"
        class="btn btn-danger mr-2">Delete</button>
    </a>
    <!-- Go Back Button -->
    <button [disabled]="processing" type="button" name="button"
      class="btn btn-success mr-2" (click)="goBack()">Go Back</button>
    <!-- Save Changes Button -->
    <button [disabled]="processing || (!title.dirty && !body.dirty)"
      type="submit" name="save" class="btn btn-info">Save Changes</button>

  </form>
</div>